Source: fexpr
Section: Mathematics
Priority: optional
Maintainer: mikachelya <mikachelya@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 debhelper (>=9),
 bash-completion,
Standards-Version: 4.6.2
Homepage: https://github.com/mikachelya/fexpr
Vcs-Browser: https://github.com/mikachelya/fexpr
Vcs-Git: https://github.com/mikachelya/fexpr.git

Package: fexpr
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: fast CLI floating-point calculator for shell scripts
 fexpr is a command line calculator designed to complement the common 'expr'
 utility. It provides double-precision floating point calculation with logic
 capabilities. Comparisons are facilitated by a customizable epsilon value
 or a tolerance measured in ULPs. Whitespace is ignored and any number of
 command line arguments are parsed.
 .
 fexpr was written using purely the C standard library.
