Source: flexpr
Section: math
Priority: optional
Maintainer: mikachelya <mikachelya@gmail.com>
Build-Depends: bash-completion, debhelper (>=9), debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/mikachelya/fexpr
Rules-Requires-Root: no
Vcs-Browser: https://github.com/mikachelya/fexpr
Vcs-Git: https://github.com/mikachelya/fexpr.git

Package: flexpr
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: fast CLI floating-point calculator for shell scripts
 flexpr is a command line calculator designed to complement the common 'expr'
 utility. It provides double-precision floating point calculation with logic
 capabilities. Comparisons are facilitated by a customizable epsilon value
 or a tolerance measured in ULPs. Whitespace is ignored and any number of
 command line arguments are parsed.
 .
 flexpr was written using purely the C standard library.
