/flexpr
/.vscode
/test*
/vgcore.*
/object
/flexpr-1.1.1/debian/flexpr
/flexpr-1.1.1/debian/.debhelper
/flexpr-db*
/flexpr-1.1.1/debian/debhelper-build-stamp
/flexpr-1.1.1/debian/.debhelper/
/flexpr-1.1.1/debian/files
/flexpr-1.1.1/debian/*.log
/flexpr-1.1.1/debian/*.substvars
*.patch~
.pc